<html>
<body>
<p>
    Fichier envoyés :
<ul>
#foreach ($file in $result.uploadedFile)
    <li> $file</li>
#end
</ul>
</p>
<p>
Erreur :
<ul>
    #foreach ($file in $result.errorFile)
        <li> $file</li>
    #end
</ul>
</p>
</body>
</html>

